/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*===================================================
Font
===================================================*/
@font-face {
    font-family: 'nexa';
    src: url('../font/nexa_light-webfont.woff2') format('woff2'),
         url('../font/nexa_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'nexa';
    src: url('../font/nexa_w01_regular-webfont.woff2') format('woff2'),
         url('../font/nexa_w01_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa';
    src: url('../font/nexa_bold-webfont.woff2') format('woff2'),
         url('../font/nexa_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*===================================================
Base CSS
===================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: "nexa";
    color: #333;
}
p {
    line-height: 1.5em;
    margin-bottom: 1em;
}
h1,h2,h3,h4 {
    font-weight: bold;
}
h1 {
    font-size: 1.875em;
}
h2 {
    font-size: 1.500em;
}
h3 {
    font-size: 1.250em;
}
h4 {
    font-size: 1em
}
button{
    outline: none;
    cursor: pointer;
}
.btn_pink {
    font-size: 1em;
    padding: .75em 2em;
    background: #FF3268;
    text-decoration: none;
    color: #fff;
    border-radius: 5em;
    box-shadow: inset 0 -3px 2px 0 rgba(0,0,0,0.35);
    transition: all 0.3s ease-out;
    border: none;
}
.btn_pink:hover {
    transition: all 0.3s ease-out;
    background: #FF658E;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 3.750em 0 0 0;
}
    @media only screen and (min-width : 60em) {
        .container {
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
        }
    }

/*===================================================
Header
===================================================*/
header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    height: 3.750em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: fixed;
    z-index: 999;
    top: 0px;
}
header .container {
    padding: 0;
}
header section {
    width: 39%;
    color: #0DD373;
    padding: 0 0 0 1%;
    display: flex;
    margin: auto;
}

    @media only screen and (min-width : 56.25em) {
        header section {
            padding: 0;
        }
    }

header section a {
    display: flex;
    align-self: center;
    text-decoration: none;
}
header h1 {
    color: #0DD373;
    padding: 2% 0% 0% 2%;
}
header img {
    width: 2.938em;
    height: 2.688em;
}
header nav {
    width: 39%;
    margin: auto;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 100%;
}
header nav ul li {
    height: 3.7em;
    width: 5em;
    border-left: 1px solid #E2E2E2;
    text-align: center;
}
header nav ul li:last-child {
    border-right: 1px solid #E2E2E2;
}
header nav ul li a {
    font-size: 0.7em;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    position: relative;
    padding: 47% 0 0 0;
    color: #2800A0;
    font-weight: bold;
    transition: all 0.3s ease-out;
}
header nav ul li a:hover {
    color: #0dd373;
    transition: all 0.3s ease-out;
}
header nav ul li a:before {
    position: absolute;
    width: 100%;
    left: 0;
    top: 10%;
    font-weight: normal;
}
header nav ul li:first-child a:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f11d';
    font-size: 2.4em;
}
header nav ul li:last-child a:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f206';
    font-size: 2.7em;
    top: 9%;
}
header nav ul li.home:first-child a:before {
    content: '\f175';
}

/*===================================================
aside
===================================================*/
aside {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    @media only screen and (min-width : 60em) {
        aside {
            width: 25%;
            border-left: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
            position: relative;
            z-index: 100;
            flex-direction: column;
        }
    }

/*===================================================
aside navigation
===================================================*/
aside nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e2e2e2;
    z-index: 999;
}

    @media only screen and (min-width : 60em) {
        aside nav {
            position: relative;
            border:none;
        }
    }

aside nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;
    border-bottom: none;
    height: 100%;
}
aside nav ul li {
    width: 33.33%;
    font-size: 1em;
    text-align: center;
    height: 100%;
    padding: 0;
    border-left: 1px solid #E2E2E2;
}

    @media only screen and (min-width : 60em) {
        aside nav ul li {
            width: 100%;
            border-left: none;
            text-align: left;
            border-bottom: 1px solid #E2E2E2;
            height: 4em;
        }
    }

aside nav ul li:first-child {
    border-left: none;
}
aside nav ul li:nth-child(1) a {
    color: #FF3268;
}
aside nav ul li:nth-child(2) a {
    color: #2800A0;
}
aside nav li:nth-child(3) a {
    color: #0DD373;
}
aside nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2em 0 0 0;
    text-transform: lowercase;
    text-decoration: none;
    font-size: inherit;
    position: relative;
    transition: all 0.3s ease-out;
}
aside nav ul li a:hover {
    background: #f3f3f3;
    transition: all 0.3s ease-out;
}

        @media only screen and (min-width : 60em) {
            aside nav ul li a {
                padding: 1em 1em 1em 3em;
                text-transform: inherit;
                font-size: 1.250em;
            }
        }

aside nav li a:before {
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 1.750em;
    top: 6%;
    font-weight: normal;
    font-family: 'Material-Design-Iconic-Font';
}

    @media only screen and (min-width : 60em) {
        aside nav li a:before {
            box-sizing: border-box;
            font-size: 1.250em;
            top: 25%;
            left:0;
            padding: 0 0 0 7%;
        }
    }

aside nav li:nth-child(1) a:before {
    content: '\f161';
    font-size: 1.600em;
    top: 10%;
}

    @media only screen and (min-width : 60em) {
        aside nav li:nth-child(1) a:before {
            top: 25%;
            font-size: 1.400em;
        }
    }

aside nav li:nth-child(2) a:before {
    content: '\f310';
    font-size: 1.900em;
    top: 8%;
}

    @media only screen and (min-width : 60em) {
        aside nav li:nth-child(2) a:before {
            top: 23%;
            font-size: 1.700em;
        }
    }

aside nav li:nth-child(3) a:before {
    content: '\f335';
}

    @media only screen and (min-width : 60em) {
        aside nav li:nth-child(3) a:before {
            font-size: 1.500em;
        }
    }
aside ul{
    display: flex;
    list-style: none;
    border-bottom: 1px solid #dedede;
    position: relative;
    flex-wrap: wrap;
}

    @media only screen and (min-width : 60em) {
        aside ul{
            border: none;
            position: inherit;
        }
    }

aside ul li {
    width: 50%;
    font-size: 1.250em;
    font-weight: bold;
    border-left: 1px solid #dedede;
}

    @media only screen and (min-width : 60em) {
        aside ul li {
            width:100%;
            border-left:none;
        }
    }

/*===================================================
Aside dropdown navigation
===================================================*/
aside section#dropdownright ul {
    display: none;
}

aside section {
    width: 50%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}

    @media only screen and (min-width : 60em) {
        aside section{
            padding: 0;
            width:100%;
            display: flex;
        }
    }

aside section:first-of-type {
    border-right: 1px solid #e2e2e2;
}

    @media only screen and (min-width : 60em) {
        aside section i, aside section h3 {
            padding: 1em;
        }

        aside section:first-of-type {
            border-right: none;
        }
    }

aside section legend,
aside section div#downleft{
    display: none;
    width: 100%;
}
aside section i:before {
    font-weight: bold;
    font-size: 1.5em;
}
aside section i{
    transition: all 0.3s ease-out;
}
aside section.active i{
    transition: all 0.3s ease-out;
    transform: rotate(+45deg);
}
aside section div,
aside section ul {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    top: 7.4em;
    z-index: 10;
}

    @media only screen and (min-width: 48em){
        aside section div,
        aside section ul {
            top: 23.6em;
        }
    }

    @media only screen and (min-width: 60em){
        aside section div,
        aside section ul {
            position: relative;
            top: 0;
            border-top: 1px solid #e2e2e2;
            background: #F3E5D8;
        }
    }

aside section ul li {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
aside section ul li a {
    text-decoration: none;
    font-size: 0.8em;
    position: relative;
    font-weight: normal;
    color:#333;
    display: block;
    padding: 1em 2.5em;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
aside section ul li a:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fb';
    position: absolute;
    right: 2em;
    font-size: 1.4em;
    top: 0.6em;
    }

aside section ul li a:hover{
    transition: all 0.3s ease-out;
    background-color: #fff6ed;

}
aside section ul li:last-child {
    border-bottom: none;
}
aside section div form fieldset {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
aside section div form fieldset label {
    display: flex;
    justify-content: space-between;
    padding: 1.2em 3em;
    font-size: 0.9em;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
}
    @media only screen and (min-width: 60em){
        aside section ul li,
        aside section div form fieldset label {
            border-bottom: 1px solid #fff6ed;
        }
    }

aside button {
    width: 100%;
    padding: 0.9em;
    text-align: left;
    font-size: 1.2em;
    position: relative;
    font-family: 'nexa';
    font-weight: bold;
    margin-top: 0.2em;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
}
aside button:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f278';
    position: absolute;
    font-size: 1.3em;
    top: 0.6em;
    right: 1em;
}
    @media only screen and (min-width : 60em) {
        aside button{
            display: none;
        }
    }

/*===================================================
mobile filter
===================================================*/

section#mobile_filter {
    position: fixed;
    top: 0;
    background: #F3F3F3;
    z-index: 999;
    height: 100vh;
    width: 100%;
    overflow: scroll;
    padding: 3.7em 0 4em 0;
    display: none;
}

section#mobile_filter header {
    box-shadow: none;
    position: fixed;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

section#mobile_filter header h2 {
    padding: 0.6em 0.4em;
}

section#mobile_filter header i.zmdi.zmdi-close {
    font-size: 1.8em;
    padding: 0.6em;
    cursor: pointer;
}
section#mobile_filter form {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

section#mobile_filter form leggend {
    display: none;
}

section#mobile_filter form legend {
    display: none;
}

section#mobile_filter form label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    font-size: 1em;
}

section#mobile_filter h3 {
    font-size: 1.2em;
    padding: 0.5em;
    color: #7b7b7b;
}
section#mobile_filter form label:last-of-type {
    border-bottom: none;
}
section#mobile_filter ul {
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
section#mobile_filter ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
section#mobile_filter ul li:last-of-type {
    border: none;
}
section#mobile_filter ul li a {
    text-decoration: none;
    font-size: 1em;
    position: relative;
    font-weight: normal;
    color: #333;
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}

section#mobile_filter ul li a:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fb';
    position: absolute;
    right: 1em;
    font-size: 1.4em;
    top: 0.6em;
}
section#mobile_filter button {
    width: 50%;
    position: fixed;
    bottom: 0px;
    border: 0;
    font-size: 1.1em;
    font-family: 'nexa';
    font-weight: bold;
    padding: 1em;
    background: #FF3268;
    color: #fff;
}
section#mobile_filter button:last-of-type {
    right: 0;
    background: #0DD373;
}
body.filter_active {
    overflow: hidden;
}
/*===================================================
main
===================================================*/
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

    @media only screen and (min-width : 60em) {
        main{
            width: 75%;
        }
    }

/*===================================================
section aanbevolen voor jou
===================================================*/
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

main section h2 {
    color: #0dd373;
    padding: 0.5em 0 0.5em 0.5em;
    width: 100%;
}
main section:first-of-type h2 {
    color: #2800a0;
}

/*===================================================
articles
===================================================*/
main section article {
    border-radius: 0.750em;
    margin: 0 0 1.5em 0;
    height: 23em;
    position: relative;
    width: 100%;
    padding: 1.5%;
}

    @media only screen and (min-width: 37.5em) {
        main section article{
            width: 50%;
            height: 20em;
        }
    }
     @media only screen and (min-width : 60em) {
        main section article{
            padding: 0 0 0 1.5%;
        }
    }
    @media only screen and (min-width : 70em) {
        main section article{
            width: 25%;
            height: 13em;
        }

        main section:first-of-type article{
            width: 50%;
            height: 21em;
        }
    }

main article picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 0.7em;
    z-index: 1;
}
main article picture img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
main section:first-of-type article h3 {
    font-size: 2em;
}
main section article h3{
    font-size: 2em;
    padding: 0.7em;
    color: #fff;
    position: absolute;
    top: 0px;
    width: 75%;
    z-index: 10;
}
    @media only screen and (min-width: 70em) {
        main section article h3{
            font-size: 1.250em;
        }
    }
main section article p {
    padding: 0 1em 1em 1em;
    margin: 0;
    font-size: 0.9em;
    background: rgba(255,255,255,0.7);
}

    @media only screen and (min-width: 37.5em) {
        main section article p{
            height:6.5em;
        }
    }

main section article ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    position: relative;
    bottom: 5em;
    z-index: 10;
    height: 5em;
    background: url(../images/shadow.png);
    background-size: contain;
    border-radius: 0 0 0.7em 0.7em;
}
main section article ul li {
    width: 33.33%;
    height: 3.7em;
}
main section article ul li span {
    text-align: center;
    display: block;
    height: 3.7em;
    width: 100%;
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
    cursor: pointer;
    position: relative;
}
main section article ul li span:before {
    font-family: 'Material-Design-Iconic-Font';
    width: 100%;
    padding-bottom: 0.2em;
    display: block;
}
    @media only screen and (min-width : 60em) {
        main section:first-of-type article ul li:nth-child(1) span:before{
            font-size: 1.8em;    
        }
    }

    @media only screen and (min-width : 60em) {
        main section:first-of-type article ul li:nth-child(2) span:before{
            font-size: 1.6em;    
        }
    }
    @media only screen and (min-width : 60em) {
        main section:first-of-type article ul li:nth-child(3) span:before{
            font-size: 1.8em;    
        }
    }

main section article ul li:nth-child(1) span:before {
    content: '\f1de';
    font-size: 1.8em;
}

    @media only screen and (min-width : 60em) {
        main section article ul li:nth-child(1) span:before {
            font-size: 1.4em;
        }
    }

main section article ul li:nth-child(2) span:before {
    content: '\f265';
    font-size: 1.6em;
    padding-top: 0.1em;
}

    @media only screen and (min-width : 60em) {
        main section article ul li:nth-child(2) span:before {
            font-size: 1.3em;
        }
    }

main section article ul li:nth-child(3) span:before {
    content: '\f11d';
    font-size: 1.8em;
}

    @media only screen and (min-width : 60em) {
        main section article ul li:nth-child(3) span:before {
            font-size: 1.4em;
        }
    }

main section article ul li span.bookmark {
    animation-name: bookmark;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
@keyframes bookmark {
    0%{
        bottom: 0px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 0px;
    }
}

main section article ul li span.liked {
    animation-name: liked;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
@keyframes liked {
    0%{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
    }
    50% {
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Safari */
        transform: rotate(-20deg);
    }
    100% {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari */
        transform: rotate(0deg);
    }
}

main section article ul li  span.bookmark,
main section article ul li  span.liked{
    color: #0DD373;
}

main section article .share {
    display: block;
    position: absolute;
    right: 2em;
    top: 1.8em;
    z-index: 20;
    cursor: pointer;
}

    @media only screen and (min-width : 70em) {
        main section article .share {
            right: 1em;
            top: 0.8em;
        }
    }   

    @media only screen and (min-width : 70em) {
        main section:first-of-type article .share {
            right: 2em;
            top: 1.8em;
        }
    }

main section article .share:before {
    font-family: 'Material-Design-Iconic-Font';
    content:'\f35b';
    font-size: 1.4em;
    color: #fff;
}
/*===================================================
Footer
===================================================*/
footer {
    width: 100%;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
    padding: 1em;
    font-size: 0.8em;
    color: #909090;
}

/*===================================================
Aanmelden
===================================================*/
main#aanmelden{
    background: url(../images/head_img.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 94vh;
    width: 100%;
}

main#aanmelden section {
    margin: 10em auto;
    width: 90%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 0.750em;
    display: block;
}

    @media only screen and (min-width : 30em) {
        main#aanmelden section {
            width: 75%;
        }
    }

    @media only screen and (min-width : 37.5em) {
        main#aanmelden section {
            width: 75%;
        }
        main#aanmelden.inloggen section {
            width: 50%;
        }
    }
    @media only screen and (min-width : 60em) {
        main#aanmelden section {
            width: 67%;
        }
        main#aanmelden.inloggen section {
            width: 35%;
        }
    }

    @media only screen and (min-width : 68.75em) {
        main#aanmelden section {
            width: 57%;
        }
        main#aanmelden.inloggen section {
            width: 27%;
        }

    }

    

main.inloggen section label {
    width: 100% !important;
}

main#aanmelden section h2 {
    background: #fff;
    color: #21d470;
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
    padding: 1em;
}
main#aanmelden section form fieldset legend {
    display: none;
}

main#aanmelden section form fieldset {
    width: 100%;
    padding: 2em 2em 1em 2em;
}

main#aanmelden section form fieldset label {
    width: 100%;
    float: left;
    padding: 0.3em;
}

    @media only screen and (min-width : 37.5em) {
        main#aanmelden section form fieldset label {
            width: 50%;
            padding: 0.6em;
        }
    }

    @media only screen and (min-width : 60em) {
        main#aanmelden section form fieldset label {
            width: 33%;
        }
    }

main#aanmelden section form fieldset label input {
    width: 100%;
    margin-top: 0.5em;
    border-radius: 0.750em;
    border: 1px solid #868686;
    padding: 0.8em;
    font-size: 0.8em;
    outline: none;
    transition: all 0.3s ease-out;
}
main#aanmelden section form fieldset label input:focus {
    border: 1px solid #21d470;
    transition: all 0.3s ease-out;
}
main#aanmelden section form fieldset input[type=submit].btn_pink {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance:none;
    margin: 0 auto;
    width: 10em;
    display: block;
    position: relative;
    top: 38px;
}


main#aanmelden section footer {
    background: #fff;
    padding: 2.5em 1em 1em 1em;
    border-radius: 0 0 0.5em 0.5em;
    flex-wrap: wrap;
    min-height: 5em;
}
main#aanmelden section footer ul {
    width: 100%;
    padding: 0em 3em;
    list-style: none;
    margin: -0.5em 0em 0em 0em;
}
main#aanmelden section footer ul li a {
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    color: #2800a0;
    text-decoration: none;
    padding: 0.3em 0em;
}
main#aanmelden section footer ul li a:hover {
    color: #21d470;
}
main#aanmelden section footer ul li a:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f2fb';
    position: absolute;
    font-size: 1.4em;
    right: 0;
    top: 0.14em;
}
main#aanmelden section form fieldset label:nth-of-type(1) {
    margin-left: 0;
}

main#aanmelden section form fieldset label:nth-of-type(4) {
    margin-left: 0;
}
/*===================================================
verhalen
===================================================*/
main#story{
    width: 100%;
}
main#story img {
    width: 100%;
    display: none;
}
main#story img.mobile{
    display: block;
}
     @media only screen and (min-width : 48em) {
        
        main#story img.tablet{
            display: block;
        }
        main#story img.mobile,
        main#story img.desktop{
            display: none;
        }
    }

    @media only screen and (min-width : 60em) {
        main#story img.desktop{
            display: block;
        }
        main#story img.mobile,
        main#story img.tablet{
            display: none;
        }
    }
